<launch>
    <arg name="osm.tiles.dir" default="/media/psf/Home/repositories/robocross_files/tiles/" />
    <arg name="osm.gpspath" default="/home/hiber/catkin_ws/src/sdgazelle/src/data/gpspath_real.csv" />
	<!--    <arg name="osm.gpspath" default="/home/nvidia/catkin_ws/src/sdgazelle/src/data/gpspath_sim.csv" />-->
    <arg name="osm.gpssimulation" default="/home/hiber/catkin_ws/src/sdgazelle/src/data/gps_dummy_pos.csv" />
    <arg name="osm.gpsvals" default="/home/hiber/catkin_ws/src/sdgazelle/src/data/gpsvals.csv" />
    <arg name="simulation" default="True" />
    <arg name="usekalman" default="False" />

    <node pkg="sdgazelle" name="gpsnode" type="gpsnode.py" output="log">
        <param name="gpsport" value="/dev/ttyS11" />
        <param name="baudrate" value="9600" />
        <param name="gpsvals" value="$(arg osm.gpsvals)" />
        <param name="need_display" value="False" />
        <param name="osm.gpssimulation" value="$(arg osm.gpssimulation)" />
        <param name="simulation" value="$(arg simulation)" />
        <param name="simulationdelay" value="0.5" />
        <param name="usekalman" value="$(arg usekalman)" />
    </node>

    <node pkg="sdgazelle" name="webdisplaynode" type="webdisplaynode.py" output="log">
        <param name="server.socket_port" value="8800" />
        <param name="server.socket_host" value="0.0.0.0"/>
        <param name="tools.staticdir.root" value="/home/hiber/catkin_ws/src/sdgazelle/src/"/>
        <param name="tools.staticdir.index" value="local_tiles.htm" />
        <param name="osm.tiles.dir" value="$(arg osm.tiles.dir)" />
        <param name="osm.gpspath" value="$(arg osm.gpspath)" />
        <param name="simulation" value="$(arg simulation)" />
        <param name="usekalman" value="$(arg usekalman)" />
    </node>
    <node pkg="sdgazelle" name="carstatecontrol" type="carstatecontrol.py" output="screen">
        <param name="osm.gpspath" value="$(arg osm.gpspath)" />
        <param name="simulation" value="$(arg simulation)" />
        <param name="usekalman" value="$(arg usekalman)" />
    </node>
    <node pkg="sdgazelle" name="car" type="car.py" output="screen">
        <param name="histfilename" value="/home/hiber/catkin_ws/src/sdgazelle/src/data/histcar.csv" />
        <param name="simulation" value="$(arg simulation)" />
        <param name="obdport" value="/dev/ttyUSB0" />
        <param name="loadobd" value="False" />
    </node>
    <node pkg="sdgazelle" name="stereorecognizer" type="stereorecognizer.py" output="screen">
    </node> 
 <!--   <node pkg="sdgazelle" name="visualrecognizer" type="visualrecognizer.py" output="screen">
    </node>
-->
</launch>